@font-face {
  font-family: "Cuprum";
  src: url("../fonts/cuprum.woff") format("woff");
}

body {
  margin: 0;
  padding: 0;
  font-family: "Cuprum", sans-serif;
}

a {
  cursor: pointer;
}

.main-header, main, .main-footer {
  width: 1200px;
  margin: 0 auto;
}

.developers-info a {
  /*place here styles for yellow footer links*/
}

.vertical-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.vertical-list li{
  display: inline-block;
}

.vertical-list a {
  display: block;
  text-decoration: none;
}

.company-address {
  font-style: normal;
}

.filter {
  border-bottom: 1px gray solid;
}

.old-price {
  text-decoration: line-through;
}

.new-item::before {
  /*place here styles for red label "new"*/
}

/*temporarily styles for new icon*/
.new-item h3 a {
  color: red;
}

.controls-header {
  height: 42px;
  display: flex;
  justify-content: space-between;
  background-color: #293449;
  color: white;
  padding: 0 130px;
}

.controls-header a {
  color: white;
  text-decoration: none;
  text-align: center;
  padding-top: 11px;
}

.main-header-logo, .footer-logo {
  width: 220px;
  background-color: #ee3643;
  box-shadow: 0 5px 0 0px #b52933;
  text-align: center;
}

.main-header-logo:hover {
  background-color: #ca2c37;
}

.main-header-logo img {
  /*padding-top: 13px;*/
}

.button-order {
  width: 150px;
  background-color: #63a63e;
}

.button-order:hover {
  background-color: #5fbb2d;
}

.search-items {
  margin: 0;
  width: 270px;
}

.cart, .bookmarks {
  width: 150px;
}

.search-items input {
  border: none;
  background: none;
  outline: none;
  padding: 0;
  height: 100%;
}

.search-items input:focus {
  background: white;
}

.site-navigation {
  width: 940px;
  height: 55px;
  margin: 0 auto;
  background-color: #32425c;

  display: flex;
  justify-content: space-between;
}

.site-navigation a {
  text-align: center;
  font-size: 17px;
  color: white
}
