/*@font-face {*/
  /*font-family: "Cuprum";*/
  /*src: url("../fonts/cuprum.woff") format("woff");*/
/*}*/

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding:0 !important;
  border:0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Cuprum", Arial, sans-serif;
  color: #000000;
  line-height: 1.15;
}

a {
  cursor: pointer;
  text-decoration: none;
}

.button {
  font: inherit;

  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #2d69f8;
  border: none;
  cursor: pointer;
}

.user-link {
  font-size: 16px;
  line-height: 18px;
  text-decoration: underline;
  color: #32425c;
}

.company-address {
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}

.header-contacts span {
  font-size: 21px;
  line-height: 21px;
  color: #e9292a;
  /*font-family: 'PT Sans', sans-serif;*/
}

.profile-button {
  text-transform: none;
  color: #000000;
  background-color: #ffffff;
  font-size: 21px;
  line-height: 21px;
  width: 300px;
  height: 45px;
}

.main-header, main, .main-footer {
  width: 1200px;
  margin: 0 auto;
}

.main-header {
  background-color: #f3f7f8;
}

.temp-section {
  background-color: #ffffff;
  height: 522px;
}

.services {
  color: #000000;
  background-color: #f3f7f8;
  height: 522px;
}

.info-about {
  background-color: #ffffff;
  height: 536px;
  display: flex;
  justify-content: space-between;
  padding: 0 130px;
}

.info-about p {
  font-size: 13px;
  font-weight: 700;
}

.info-about h2 {
  font-size: 30px;
  line-height: 30px;
}

.about .transport {
  font-size: 18px;
  line-height: 20px;
  list-style: none;
}

.about {
  width: 520px;
}

.contacts-map {
  width: 300px;
}

.intro-title {
  width: 940px;
  height: 158px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.header-contacts {
  width: 340px;
}

.log-in-out {
  width: 315px;
  align-self: flex-start;
  text-align: right;
}

.log-in-out li {
  padding-top: 10px;
}

.log-in-out .button {
  text-transform: none;
  font-size: 21px;
  line-height: 21px;
  padding: 10px 25px;
  color: #000000;
  background-color: #ffffff;
}

.main-title {
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  color: #ee3643;
  margin: 0;
  font-weight: 400;
  flex-basis: 191px;
  text-align: left;
  margin-left: 53px;
}

.developers-info a {
  /*place here styles for yellow footer links*/
}

.vertical-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.vertical-list li {
  display: inline-block;
}

.vertical-list a {
  display: block;
}

.company-address {
  font-style: normal;
}

.filter {
  border-bottom: 1px gray solid;
}

.new-item::before {
  /*place here styles for red label "new"*/
}

/*temporarily styles for new icon*/
.new-item h3 a {
  color: red;
}

.controls-header {
  height: 42px;
  display: flex;
  justify-content: space-between;
  background-color: #293449;
  color: white;
  padding: 0 130px;
}

.controls-header a {
  color: white;
  text-decoration: none;
  text-align: center;
  padding-top: 11px;
}

.main-header-logo, .footer-logo {
  width: 220px;
  background-color: #ee3643;
  box-shadow: 0 5px 0 0px #b52933;
  text-align: center;
}

.main-header-logo:hover {
  background-color: #ca2c37;
}

.main-header-logo img {
  /*padding-top: 13px;*/
}

.button-red {
  background-color: #ee3643;
}

.button-order {
  width: 150px;
  background-color: #63a63e;
  text-transform: none;
}

.button-order:hover {
  background-color: #5fbb2d;
}

.search-items {
  margin: 0;
  width: 270px;
}

.cart, .bookmarks {
  width: 150px;
}

.search-items input {
  border: none;
  background: none;
  outline: none;
  padding: 0;
  height: 100%;
}

.search-items input:focus {
  background: white;
}

.site-navigation {
  width: 940px;
  height: 55px;
  margin: 0 auto;
  background-color: #32425c;

  display: flex;
  justify-content: space-between;
}

.site-navigation a {
  text-align: center;
  font-size: 17px;
  color: white
}

.footer-navigation {
  color: #ffffff;
  background-color: #32425c;
  height: 194px;
  display: flex;
}

.footer-copyright {
  color: #ffffff;
  background-color: #293449;
  height: 106px;
  display: flex;
}

.footer-navigation a {
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  display: flex;
}

.contacts-column {
  display: flex;
  flex-direction: column;
}

.navigation-column {
  display: flex;
  flex-direction: column;
}

.site-offer a {
  color: #ffd180;
}

.developers-info a {
  color: #ffd180;
  text-transform: none;
  background-color: unset;
}

.modal {
  display: none;
}

.socials-links img {
  color: #ffffff;
}

/* catalog styles */
.catalog-name {
  font-size: 30px;
  line-height: 30px;
  background-color: #f2f6f8;
  font-weight: 400;
}

.breadcrumbs a,
.breadcrumbs .breadcrumbs-current {
  text-transform: uppercase;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  font-family: 'PT Sans', sans-serif;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  width: 700px;
}

.catalog-item {
  width: 218px;
  min-height: 318px;
  border: 1px solid #e5e5e5;

  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin-right: 20px;
}

.catalog-item h3 {
  max-width: 180px;
}

.card-item-name {
  font-family: "PT Sans";
  font-size: 18px;
  line-height: 20px;
  color: #000000;
  font-weight: 700;
}

.old-price {
  font-size: 17px;
  line-height: 18px;
  color: #999999;
  text-decoration: line-through;
  text-transform: uppercase;
}

.current-price {
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  font-family: "PT Sans";
  color: #ffffff;
  background-color: #ee3643;
}

.catalog-item:nth-child(3n+3) {
  margin-right: 0;
}

/* filter styles */
.filter-button {
  font-family: "PT Sans";
  font-size: 13px;
  line-height: 18px;
  border: 1px solid #e5e5e5;
  color: #000000;
  background-color: #ffffff;
  width: 138px;
  height: 38px;
}

.filter-legend {
  font-size: 17px;
  line-height: 30px;
  color: #000000;
  font-family: "PT Sans";
}

.filter-form label {
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
  color: #000000;
  font-family: "PT Sans";
}
